* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Merriweather, Georgia, serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: #666;
}
h1, h2, h3, h4 {
  font-weight: 400;
}
a {
  color: #69e;
  text-decoration: none;
}
main {
  margin: 0 auto;
  max-width: 760px;
  padding: 2em;
}
main>header {
  text-align: center;
  padding: 1em 0;
}
main>header h1 {
  padding-bottom: 0.5em;
}
main>header h3,
main>header h4 {
  color: #aaa;
}

section {
  margin-top: 2em;
}
section>header {
  padding: 1em 0 0.5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}


article {
  padding-bottom: 2em;
}
article header div,
time {
  color: #999;
}
article header div > * {
  display: block;
  white-space: nowrap;
}


ul {
  padding: 0.5em 0 0 2em;
}

ul li {
  padding-bottom: 0.3em;
}

ul li:last-of-type {
  padding-bottom: 0;
}

.cv-patents p,
.cv-references p {
  margin-top: 0.5em;
}



@media only screen and (min-width: 600px)  {
  body {
    font-size: 18px;
    line-height: 27px;
  }
  article header div > span  {
    float: left;
  }
  .cv-expereience article header div > time  {
    text-align: right;
  }
}
