/**
 * ATTENTION
 * This file is for overrides of the theme CSS, so if there are updates
 * the changes will not get trampled.
 *
 * TODO: Convert theme's CSS to LESS, so we can compile.
 */


/**
 * ARTICLE ITEMS
 */

/* Headings need more breathing room */
#content h1,
#content h2,
#content h3,
#content h4 {
  padding-top: 1.5rem;
}


/* The colorful social buttons */
#social-share {
  top: -4.2rem;
  text-align: center;
}
@media screen and (max-width: 736px) {
  #social-share {
    top: -2.7rem;
  }
}
#social-share ul.icons {
  display: inline-block;
  margin: 0 auto;
  font-size: 0.85em;
}
#social-share .share-btn {
  width: 3em;
}

/* The post footer */
article.post footer {
  padding-top: 3em;
}

/* Tags */
ul.tags { overflow: hidden; float: right; margin: 0; padding: 0; list-style: none; padding-bottom: 2em; }
ul.tags li { display: inline-block; margin: 0; margin-right: 0.2em; }
ul.tags li a { 
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;

  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
}


/* Keep post header flex even after big screen */
@media screen and (min-width: 980px) {

  article.post > header {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3.75em 3em 1.25em 3em ;
    border-left: 0;
  }

  article.post > header .title {
    -ms-flex: 0 1 auto;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
  }

  article.post > header .meta {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border-left: 0;
    margin: 0 0 2em 0;
    padding-top: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  article.post > header .meta > * {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    margin-left: 2em;
    padding-left: 2em;
  }

  article.post > header .meta > :first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }

  article.post > header .meta .published {
    margin-bottom: 0;
    margin-top: 0;
  }

  article.post > header .meta .author {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  article.post > header .meta .author .name {
    margin: 0 0 0 1.5em;
  }

  article.post > header .meta .author img {
    width: 3.5em;
  }
}

/* Post header general */
article.post > header .meta > * {
  margin-bottom: 0;
  white-space: nowrap;
}


@media screen and (min-width: 1280px) {
  article.post > header .subscribe-bug {
    display: none;
  }
}


/**
 * OTHER ITEMS
 */

/* Follow me text in sidebar */
p.followme {
  padding: 1em 0 0 0;
  margin:0;
  color: #333;
}

#footer p.followme {
  padding: 0;
  color: #999; 
}

/* Archive pages */
article.archive #content {
  padding-bottom: 2em;
}

/* Archive lists */
ul.archive-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.archive-list li {
  margin: 0;
  padding: 0;
}

/* Date float on archive page */
.archive-date {
  float: none;
  color: #999;
  display: inline-block;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 600px) {
  .archive-date {
    float: right;
    padding-bottom: 0;
  }
}

/* Header nav items should be full heoght */
#header .links ul li a { line-height: 3.8rem; }


/* Subscribe form */
.mcform,
.mcform-inputs {
  text-align: center;
}

.mcform input[type="email"],
.mcform input[type="email"]:focus {
  border-color: rgb(91, 187, 99);
  box-shadow: inset 0 0 0 1px rgb(91, 187, 99);
  padding-right: 9rem;
}

.mcform input[type="submit"],
.mcform a.button {
  background: rgb(95, 203, 105);
  border: 1px solid rgb(91, 187, 99);
}

.mcform input[type="submit"]:hover,
.mcform a.button:hover {
  box-shadow: inset 0 0 0 1px rgb(91, 187, 99);
  color: #fff !important;
}


/* Book Promo - Sidebar & Top */
.book-promo figure a {
  text-decoration: none;
  border-bottom: none;
}

.book-promo .button {
  background: rgb(95, 203, 105);
  border: 1px solid rgb(91, 187, 99);
  
}

.book-promo .button:hover {
  box-shadow: inset 0 0 0 1px rgb(91, 187, 99);
  color: #fff !important;
}


.sidebar-book-promo { 
  text-align: center; 
}

.sidebar-book-promo figure,
.sidebar-book-promo figure img {
  max-width: 100%;
}

.sidebar-book-promo figure img {
  max-width: 320px;
}


.banner-book-promo figure,
.banner-book-promo figure img {
  width: 60px;
}

.banner-book-promo p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  text-transform: uppercase;
}

.banner-book-promo table,
.banner-book-promo tbody,
.banner-book-promo tr,
.banner-book-promo td {
  border: none;
  background: transparent;
  background-color: transparent !important ;
} 

.banner-book-promo td {
  vertical-align: middle;
  padding: 0 1em;
}

.banner-book-promo tr td:last-child {
  text-align: right;
}

.banner-book-promo td p {
  margin: 0;
}

@media screen and (max-width: 520px) {
  .banner-book-promo tr td:last-child {
    display: none;
  }
}

.banner-book-promo .mini-link {
  font-weight: 900;
}

@media screen and (min-width: 520px) {
  .banner-book-promo .mini-link {
    display: none;
  }
}


/* Resource list stuff */
article.resource ul {
  list-style: none;
}

article.resource ul,
article.resource ul li,
article.resource ul li label {
  margin: 0;
  padding: 0;
}

article.resource ul li {
  padding-bottom: 0.75rem;
}

article.resource #content a,
article.resource #content label a {
  border-bottom: none;
  color: rgb(95, 203, 105);
  font-weight: normal;
  font-size: 1rem;
}

article.resource #content label a {
  text-transform: uppercase;
  font-family: 'Raleway', helvetica, sans-serif;
}

article.resource #content label {
  font-size: 1.2rem;
}