/* CORE --------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Base Type
 */
/**
 * Colors
 */
/*

rgb(46, 64, 83)
rgb(72, 88, 105)
rgb(98, 112, 126)
rgb(124, 136, 148)
rgb(150, 160, 169)
rgb(177, 183, 191)
rgb(203, 207, 212)
rgb(229, 231, 234)

*/
body {
  background: #fafaf0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Muli", serif;
  font-style: normal;
  font-weight: 300;
}
code,
pre code {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 0.85em;
}
pre code {
  line-height: 1.6em;
}
code {
  background: #EcEff6;
  padding: 3px 6px;
  line-height: 1.95em;
  border: 1px solid #dde;
  color: #555;
}
a {
  font-weight: 400;
  color: #7C8894;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul,
ol {
  padding: 0 2em;
}
li {
  padding: 0.5em 0;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
body > header {
  width: 300px;
  min-width: 300px;
  order: 1;
  background: #2E4053;
}
body > main {
  order: 2;
  flex: 1 1 auto;
}
body > aside {
  display: none;
}
body > main article p,
body > main article ul,
body > main article ol {
  max-width: 700px;
}
body > main article p,
body > main article ul,
body > main article ol,
body > main article h1,
body > main article h2,
body > main article h3,
body > main article h4,
body > main article h5,
body > main article h6,
body > main article header {
  margin: 0 2em;
  margin-bottom: 1em;
}
body > main article pre {
  width: 100%;
  margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
}
/* COMPONENTS --------------------------------------------- */
/* VENDOR ------------------------------------------------- */
.hljs {
  display: block;
  overflow-x: auto;
  background: #E5E7EA;
  padding: 0.5em;
}
.hljs,
.hljs-tag,
.hljs-subst {
  color: #443;
}
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}
.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}
.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}
.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}
.hljs-params,
.hljs-class .hljs-title {
  color: #999;
}
.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #29D441;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
.hljs-line-numbers {
  text-align: right;
  border-right: 1px solid #ccc;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hljs-line-numbers {
  min-width: 1.3em;
  background: #CBCFD4;
  color: #7C8894;
  border-right: none;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 *
 * BL: Snipped down to just the core + the burger I want.
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(-7px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-7px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(-7px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-7px, 0, 0) rotate(45deg) scale(0.7, 1);
}
/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrow-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger:checked + label .hamburger-inner::before {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.nav-trigger:checked + label .hamburger-inner::after {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
