<section class="mcform-wrapper">
    <form action="#" method="post" name="revue-form">
    <div class="mcform">
        <h3>Subscribe To The Newsletter</h3>
        <p>Thanks for taking the time to visit! If you liked this, or you want to
            follow along as I learn, build and share, click the button below. 
            I promise to keep it low-key and infrequent. Cheers!</p>
        <!--
        <p class="mcform-inputs">
            <input class="revue-form-field" placeholder="thank@you.com" type="email" name="member[email]" >
            <input type="submit" value="Subscribe" name="member[subscribe]">
        </p>
        -->
        <p class="mcform-inputs">
            <a href="http://newsletter.benjaminlistwon.com/" class="button">Subscribe</a>
            <!-- <input type="button" value="Subscribe" name="member[subscribe]" > -->
        </p>
    </div>
    </form>
</section>
