<section class="book-promo sidebar-book-promo">
    <h3>Vue.js In Action</h3>
    <figure>
        <a href="https://www.manning.com/books/vue-js-in-action?a_aid=VueJSinActionBen&a_bid=a20e76bb" title="Vue.js In Action at Manning.com">
            <img src="/img/vuejs-in-action-cover.png" alt="Vue.js In Action Cover Image">
        </a>
    </figure>
    <p>I wrote a book about Vue.js along with amazing developer and author <a href="https://twitter.com/ErikCH">Erik Hanchett</a>.</p>
    <p><a class="button" href="https://www.manning.com/books/vue-js-in-action?a_aid=VueJSinActionBen&a_bid=a20e76bb" title="Vue.js In Action at Manning.com">Grab a Copy</a></p>
</section>